﻿@model Cites2019.Models.CITES.Hunter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hunter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TwraId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwraId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_landowner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_landowner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HunterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
