﻿@model IEnumerable<Cites2019.Models.CITES.Hunter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HunterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwraId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H_FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H_LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H_Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H_Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H_Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H_landowner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HunterID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TwraId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H_FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H_LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H_Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H_Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H_Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H_landowner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.HunterID }) |
            @Html.ActionLink("Details", "Details", new { id = item.HunterID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.HunterID })
        </td>
    </tr>
}

</table>
