﻿@model Cites2019.Models.CITES.TagData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TagData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.T_Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_Species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_Officer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_Officer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_Admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TagNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
