﻿@model IEnumerable<Cites2019.Models.CITES.TagData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TagNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_Species)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_Officer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_Admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TagNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_Species)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_Officer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_Admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TagNumber }) |
            @Html.ActionLink("Details", "Details", new { id = item.TagNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TagNumber })
        </td>
    </tr>
}

</table>
