﻿@model Cites2019.Models.CITES.County

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>County</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.C_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
