﻿@model Cites2019.Models.CITES.KillData

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KillData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kill_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kill_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KillSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KillSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HrvstCounty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HrvstCounty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kill_method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kill_method)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hunter_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hunter_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TagNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
