﻿@model IEnumerable<Cites2019.Models.CITES.KillData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kill_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KillSex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HrvstCounty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Species)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kill_method)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hunter_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TagNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kill_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KillSex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HrvstCounty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Species)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kill_method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hunter_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TagNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HD_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HD_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HD_ID })
        </td>
    </tr>
}

</table>
